{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}

{% endblock %}

{% block body %}
	<main>
		<div class="hero">
			<img class="hero__image" src="{{asset('build/hero.webp')}}" alt="">
			<div class="hero__text">
				<h1 class="hero__slogan">BIJOUX FAITS-MAIN</h1>
				<a class="hero__link" href="{{ path('app_products') }}">
					<span class="hero__call-to-action">DÉCOUVRIR</span>
				</a>
			</div>

		</div>
		<section class="section about-us">
			<h2 class="section__h2">QUE FAISONS-NOUS ?</h2>
			<p class="about-us__text about-us__text--first">Nous créons nos bijoux à Paris avec de l'acier inoxydable argenté, doré ou doré rose. Ils sont anti-allergéniques, ne noircissent pas la peau, sont insensibles à la rouille et l'eau.</p>
			<p class="about-us__text about-us__text--last">Le dîtes à personne mais nous faisons des commandes sur-mesure également 😉</p>
			<svg class="about-us__svg">
				<use href="{{ asset('build/svgs-sprite.svg') }}#rings"/>
			</svg>
		</section>

		<section class="section" id="categories">
			<h2 class="section__h2">NOS CATÉGORIES</h2>
			<ul class="categories">
				<li class="categories__item">
					<a class="categories__link" href="$category_url">
						<figure class="categories__content">
							<img class="categories__image" src="$picture_url" alt="$name">
							<figcaption class="categories__description">$name</figcaption>
						</figure>
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="$category_url">
						<figure class="categories__content">
							<img class="categories__image" src="$picture_url" alt="$name">
							<figcaption class="categories__description">$name</figcaption>
						</figure>
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="$category_url">
						<figure class="categories__content">
							<img class="categories__image" src="$picture_url" alt="$name">
							<figcaption class="categories__description">$name</figcaption>
						</figure>
					</a>
				</li>
				<li class="categories__item">
					<a class="categories__link" href="$category_url">
						<figure class="categories__content">
							<img class="categories__image" src="$picture_url" alt="$name">
							<figcaption class="categories__description">$name</figcaption>
						</figure>
					</a>
				</li>

			</ul>
		</section>

	</main>
{% endblock %}
