{% extends 'base.html.twig' %}

{% block title %}créations
{% endblock %}

{% block body %}
	<main>
		<section class="section">
			<h1 class="section__h2">NOS CRÉATIONS</h1>
			<div
				class="filters">{# <button class="input-wrapper filter" id="categoriesButton" data-modal="categoriesModal">
					                <div class="input filter__content-wrapper" data-label="Catégories">
					                    <span class="filter__text"><?php echo $current_categorie; ?></span>
					                    <div class="caret"></div>
					                </div>
					            </button>
					
					            <button class="input-wrapper filter" id="sort" data-modal="sortModal">
					                <div class="input filter__content-wrapper" data-label="Trier">
					                    <span class="filter__text"><?php echo $current_sort; ?></span>
					                    <div class="caret"></div>
					                </div>
					            </button> #}

				{{form_start(form)}}
				{{form_end(form)}}
			</div>

			<div class="products">
				{% if products|length > 0 %}

					{% for product in products %}
						{% set optionsTotal = product.options|length %}
						{% set productUrl = '/creations/' ~ product.slug %}
						<article class='product'>
							<a class='product__image-wrapper' href='{{ productUrl }}' {% if optionsTotal > 1 %} data-options='{{ optionsTotal }}' {% endif %}>
								<img class='product__image' src='{{ vich_uploader_asset(product.options[0], 'imageFile') }}' alt='{{ product.name }}'>
							</a>
							<div class='product__information'>
								<a class='product__name' href='{{ productUrl }}'>
									<span>{{ product.name }}</span>
								</a>
								<span class='product__price'>{{ product.options[0].price }}
									€</span>
								<button class='product__call-to-action-wrapper' data-product-id="\"$product_id\"" data-product-option="\"default\"">
									<span class='product__call-to-action'>Ajouter au panier<span class='product__success-message'>Ajouté &#10003;</span>
									</span>

								</button>
							</div>
						</article>
					{% endfor %}
				{% else %}
					<div class="no-product">
						<p class="no-product__message">Il n'y en a pas pour l'instant mais c'est pour bientôt !</p>
					</div>
				{% endif %}


			</section>
		</main>
	{% endblock %}
